# my virtulen folder
py3working/

# my virtulen folder
folder_name/

# data parser
csv_reader.py
# data image
foo.png
#pycache
__pycache__/

# virtualen
env/

#vscode
.vscode

#tables
commits.csv
repositories.csv

#jupyter
.ipynb_checkpoints/

# raw_data
data/raw/
.Rproj.user
